:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 4px;
  border: 1px solid gray;
}

.sensor-key {
  color: skyblue;
}

.sensor-value {
  color: black;
}
