<div class="sensors-controls">
    <label *ngFor="let mode of updateModes"
           class="sensor-control">
        <span>
          {{mode}}
        </span>
        <input [value]="mode"
               [checked]="mode === (currentMode$ | async)"
               (change)="onModeChange(mode)"
               type="radio"
               name="update-mode">
    </label>
    <div *ngIf="(currentMode$ | async) === UpdateMode.Manual"
         (click)="onManualUpdatePress()"
         class="sensor-control manual-update-btn">
        update manually
    </div>
</div>

<router-outlet></router-outlet>
