.sensors-controls {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 40px;

  .sensor-control {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .manual-update-btn {
    padding: 4px;
    border: 1px solid skyblue;
  }
}
