.nav-control {
  font-size: 18px;
  color: deepskyblue;
  font-weight: bold;
  cursor: pointer;
}

.sensor-data-row {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .sensor-data-label {
    font-weight: bold;
    margin-right: 10px;
  }

  .sensor-data-value {
    padding: 4px;
    border: 1px solid black;
    background-color: lightgray;
  }
}
