<a [routerLink]="['/']"
   class="nav-control">
    to main page
</a>

<ng-container *ngIf="sensor$ | async as sensor">
    <h2>Sensor: {{sensor.key}}</h2>

    <div class="sensor-data-row">
        <div class="sensor-data-label">
            Key
        </div>
        <div class="sensor-data-value">
            {{sensor.key}}
        </div>
    </div>

    <div class="sensor-data-row">
        <div class="sensor-data-label">
            Value
        </div>
        <div class="sensor-data-value">
            {{sensor.value}}
        </div>
    </div>

    <div class="sensor-data-row">
        <div class="sensor-data-label">
            Time
        </div>
        <div class="sensor-data-value">
            {{sensor.time | date: 'full'}}
        </div>
    </div>

    <div class="sensor-data-row">
        <div class="sensor-data-label">
            Description
        </div>
        <div class="sensor-data-value">
            {{sensor.description}}
        </div>
    </div>
</ng-container>
